<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reminders Index</title>
  </head>
  <body>
    <h1>List of Reminders</h1>
    <form
      style="display: inline-block;"
      action="/sessions?_method=DELETE"
      method="POST"
    >
      <input
        type="submit"
        value="logout | <%=currentUser.username%>"
        class="nav-links"
        id="logout"
      />
    </form>
    <a href="/wedding/reminders/new"><button>Add reminder</button></a>
    <a href="/wedding/attendees/"><button>View Attendees</button></a>
    <a href="/wedding/groups/"><button>View Groups</button></a>
    <ul>
      <% for (let i = 0; i < reminders.length; i++) { %>
      <li>
        <a href="/wedding/reminders/<%=reminders[i]._id%>"
          ><%=reminders[i].name%></a
        >
      </li>
      <% } %>
    </ul>
  </body>
</html>
