<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Reminder</title>
  </head>
  <body>
    <h1>New Reminder</h1>
    <a href="/wedding/attendees/"><button>View Attendees</button></a>
    <a href="/wedding/groups/"><button>View Groups</button></a>
    <br />
    <br />
    <form action="/wedding/reminders/new" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" />
      <br />
      <label for="active">Active?</label>
      <input type="checkbox" name="active" />
      <br />
      <label for="attendeeGroup">Attendee Group</label>
      <input type="text" name="attendeeGroup" />
      <br />
      <label for="message">Message</label>
      <input type="text" name="message" />
      <br />
      <br />
      <input type="submit" name="submit" value="Create" />
    </form>
    <a href="/wedding/reminders">Back</a>
  </body>
</html>
