<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Group</title>
  </head>
  <body>
    <h1>New Group</h1>
    <form action="/wedding/groups/new" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" />
      <br />
      <input type="submit" name="submit" value="Add" />
    </form>
    <a href="/wedding/groups">Back</a>
  </body>
</html>
