<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Groups</title>
  </head>
  <body>
    <h1>Show Groups</h1>
    <a href="/wedding/groups/"><button>Back to Groups</button></a>
    <br />
    <br />
    Group Name: <%=group.name%>
    <br />
    Group ID: <%=group._id%>
  </body>
</html>
