<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Groups</title>
  </head>
  <body>
    <h1>Show Groups</h1>
    Group Name: <%=group.name%>
    <br />
    <br />
    <a href="/wedding/groups/edit/<%=group._id%>"><button>Edit</button></a>
    <form action="/wedding/groups/<%=group._id%>?_method=DELETE" method="POST">
      <input type="submit" name="delete" id="delete" value="Delete" />
    </form>
    <br />
    <a href="/wedding/groups/">Back</a>
  </body>
</html>
