<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Attendee</title>
  </head>
  <body>
    <h1>Add New Attendee</h1>
    <form action="/wedding/attendees/new" method="POST">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" />
      <br />
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" />
      <br />
      <label for="email">Email</label>
      <input type="email" name="email" />
      <br />
      <label for="mobile">Mobile</label>
      <input type="number" name="mobile" />
      <br />
      <label for="attendance">Attendance</label>
      <input type="checkbox" name="attendance" />
      <br />
      <label for="group">Group</label>
      <select name="group" id="group">
        <% for (let i = 0; i < groups.length; i ++) { %>
        <option value="<%=groups[i]._id%>"><%=groups[i].name%></option>
        <% } %>
      </select>
      <br />
      <input type="submit" name="submit" value="Add" />
    </form>
    <a href="/wedding/attendees">Back</a>
  </body>
</html>
