@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caveat&display=swap");

/* * {
  border: 1px solid gold;
} */

body {
  font-family: "Alata", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

/* Landing Page */

#nav-list {
  color: rgba(255, 255, 255, 0.8);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.nav-links {
  padding: 12px;
  transition: all 0.5s ease-out;
}

.nav-links:hover {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px;
  cursor: pointer;
}

#logout {
  text-decoration: none;
  border: none;
  background: none;
  font-family: "Alata", sans-serif;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

#landing-page {
  height: 100%;
  width: 100%;
  background: url("../images/woman-kissing-a-man-984934.jpg") no-repeat center
    center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

#title-message {
  margin-left: 81.5%;
  margin-top: 240px;
  color: whitesmoke;
  font-size: 60px;
}

#RSVP,
#login-button {
  font-family: "Alata", sans-serif;
  margin-left: 81.5%;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.5s ease-out;
  outline: none;
}

#RSVP:hover,
#login-button:hover {
  color: teal;
  border-radius: 25px;
  cursor: pointer;
}

#login-button {
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
  background-color: teal;
  color: gainsboro;
}

#login-button:hover {
  color: white;
}

#bible-verse {
  font-family: "Caveat", cursive;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
  color: whitesmoke;
  font-size: 30px;
  letter-spacing: 2px;
}

#bible-verse-ref {
  font-size: 15px;
  margin-left: 20px;
}

/* Login or Create User Page */

#login-page {
  height: 100%;
  width: 100%;
  background: url("../images/woman-kissing-a-man-984934.jpg") no-repeat center
    center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: -1;
  backdrop-filter: grayscale(0.5) opacity(0.8);
}

#login-form-container {
  background-color: rgba(255, 255, 255, 0.4);
  width: 350px;
  height: 300px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 15%;
}

#divider {
  height: 10px;
  width: 100%;
}

#login-form {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
}

#login-header {
  margin-top: 5px;
  height: 40px;
  width: auto;
  margin-bottom: 10px;
  color: gray;
}

#username,
#password {
  margin-top: 5px;
  height: 40px;
  outline: none;
  width: 200px;
  font-size: 16px;
  font-family: "Alata", sans-serif;
  color: gainsboro;
}

.login-labels {
  margin-top: 25px;
  margin-bottom: 5px;
  display: block;
  color: gray;
  margin-left: -65px;
  display: none;
}

#create-account {
  height: 35px;
  width: 150px;
  margin: 0 auto;
  margin-top: 15px;
}

#create-account-link {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.5);
}

#create-account-link:hover {
  color: white;
}
