<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../views/partials/head.ejs %>
    <title>Zane & Sophie | Login</title>
  </head>
  <body>
    <div class="login-page">
      <div class="login-form-container">
        <form class="login-form" action="/users" method="POST">
          <div class="divider"></div>
          <div class="login-header">
            <h1>new user</h1>
          </div>
          <div>
            <label for="username" class="login-labels">User Name</label>
            <input
              placeholder="username"
              class="username"
              type="text"
              name="username"
              required
            />
          </div>
          <div>
            <label for="password" class="login-labels">Password</label>
            <input
              placeholder="password"
              class="password"
              type="password"
              name="password"
              required
            />
          </div>
          <button type="submit" name="action" class="login-button">
            create
          </button>
        </form>
      </div>
      <span class="pipe">‹</span>
      <div class="back">
        <a class="back-link" href="/">Back</a>
      </div>
      <div class="create-account">
        <a class="create-account-link" href="/sessions/new"
          >Existing user? Login</a
        >
      </div>
    </div>
  </body>
</html>
