<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
    <body>
      <div class="container">
        <h1>Create User</h1>
        <div class="row">
          <form class="col s12" action="/users" method="POST">
            <div class="row">
              <div class="input-field col s6">
                <label for="username">User Name</label>
                <input placeholder="Placeholder" id="username" type="text" class="validate" name="username" required>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="password">Password</label>
                <input id="password" type="password" class="validate" name="password" required>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
          </form>
        </div>
    </body>
</html>