@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
/*font-family: 'Josefin Sans', sans-serif;*/

/** {
	border: 1px solid gold;
}*/

html {
	scroll-behavior: smooth;
}

#ctx {
	background-color: #111111;
	border: 5px solid #ffffff;;
	margin: 20px auto;
}

body {
	font-family: 'Montserrat', sans-serif;
}


#section1 {
	height: 900px;
	width: 100%;
	background: url('../images/dark-green-header-1072179 (w).jpg') no-repeat center center;
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
	/*display: none;*/
}

#intro-img {
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	display: block;
}

#creds {
	margin: 10px auto;
	text-align: center;
	color: white;
	font-size: 12px;
	font-family: 'Press Start 2P', cursive;
}

#play-now {
	margin: 30px auto;
	text-align: center;
	display: block;
	padding: 28px 80px;
	background-color: rgba(0, 136,169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	-webkit-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	-moz-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	text-transform: uppercase;
	/*display: none;*/
}

#play-now:hover {
	background-color: rgba(255, 204, 51, 0.8);
}

#section2 {
	height: 900px;
	width: 100%;
	background: url('../images/color-cool-wallpaper-dark-green-808510 (w).jpg') no-repeat center center;
	background-size: cover;
	position: absolute;
	margin-top: 900px;
	top: 0px;
	left: 0px;
}

#instructions, #snake-snack {
	color: white;
	text-align: center;
	margin-top: 120px;
	font-family: 'Press Start 2P', cursive;
	text-transform: uppercase;
	text-shadow: 5px 5px 1px rgba(0, 0, 0, 1);
	font-size: 24px;
}

#instructions-outer-container {
	height: 500px;
	width: 750px;
	background-color: black;
	margin: 20px auto 0px auto;
}

#instructions-inner-container {
	color: white;
	height: 400px;
	width: 650px;
	background-color: black;
	margin: 20px auto 0px auto;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	overflow: scroll;
	border: 5px solid white;
}

.orange {
	color: rgba(255, 204, 51, 1);
}

.blue {
	color: rgba(0, 136,169, 1);
}

#objective {
	margin-top: 20px;
}

#note {
	color: red;
}

p {
	line-height: 180%;
}


#start-game {
	margin: 25px auto;
	text-align: center;
	display: block;
	padding: 28px 80px;
	background-color: rgba(255, 204, 51, 0.8);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	-webkit-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	-moz-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	text-transform: uppercase;
	/*display: none;*/
}

#start-game:hover {
	background-color: rgba(0, 136, 169, 1);
}

#section3 {
	height: 900px;
	width: 100%;
	background: url('../images/color-cool-wallpaper-dark-green-808510 (w2).jpg') no-repeat center center;
	background-size: cover;
	background-color: black;
	position: absolute;
	margin-top: 1800px;
	top: 0px;
	left: 0px;
}

#contains-three {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.inner {
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	margin-top: 50px;
}

.name, .score, .rounds-won, .keys {
	width: 50%;
	height: 80px;
	background-color: white;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	margin: 0 auto;
}

.name {
	/*width: 100%;*/
	color: white;
	font-size: 20px;
	/*margin-top: -10px;*/
	border-radius: 20px;
}

.score {
	height: 150px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: -10px;
	/*border: 10px solid black;*/
	/*margin-top: 10px;*/
}

.rounds-won {
	/*border: 5px solid black;*/
	margin-top: 10px;
	border-radius: 20px;
}

.keys {
	border-radius: 0 0 20px 20px;
}

#left-name {
	/*background-color: rgba(255, 204, 51, 1);*/
	background-color: rgba(0, 136,169, 1);
	text-shadow: 3px 3px 5px #006d87;
	border-radius: 20px 20px 0 0;
}

#right-name {
	background-color: rgba(255, 204, 51, 1);
	text-shadow: 3px 3px 5px #cca329;
	border-radius: 20px 20px 0 0;
}

#mid-outer {
	/*margin-top: 25px;*/
	background-color: black;
	text-align: center;
}

#left-keys-ul, #right-keys-ul {
	list-style: none;
	margin-left: -50px;
	font-size: 12px;
}

.both-rounds-won {
	margin-top: -10px;
}

#reset-game {
	margin: 15px auto;
	text-align: center;
	display: block;
	padding: 28px 80px;
	background-color: rgba(0, 83, 169, 0.7);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
	font-size: 24px;
	font-family: 'Press Start 2P', cursive;
	-webkit-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	-moz-box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	box-shadow: 0px 6px 0px 6px rgba(212,212,212,1);
	text-transform: uppercase;
	/*display: none;*/
}

#reset-game:hover {
	background-color: rgba(0, 83, 169, 1);
}

/*https://live.staticflickr.com/3125/2568930214_666207f1d7.jpg*/

/*#section4 {
	height: 900px;
	width: 100%;
	background-color: blue;
	position: absolute;
	margin-top: 2700px;
	top: 0px;
	left: 0px;
}*/
/*#cca329
#006d87*/