<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../views/partials/head.ejs %>
    <title>Zane & Sophie | Our special day</title>
  </head>
  <body>
    <div id="landing-page">
      <nav id="main-nav">
        <div id="nav-list">
          <div class="nav-links">our story</div>
          <div class="nav-links">schedule</div>
          <div class="nav-links">getting there</div>
          <div class="nav-links">questions</div>
          <% if (currentUser) { %>
          <div class="nav-links">
            <form action="/sessions?_method=DELETE" method="POST">
              <input
                type="submit"
                value="logout | <%=currentUser.username%>"
                class="nav-links"
                id="logout"
              />
            </form>
          </div>
          <% } else { %>
          <div class="nav-links"><a href="/sessions/new">login</a></div>
          <% } %>
        </div>
      </nav>
      <h1 id="title-message">
        zane <br />
        & <br />
        sophie
      </h1>
      <a id="RSVP-link" href="/wedding/attendees/rsvp"
        ><button id="RSVP">RSVP here</button></a
      >
      <p id="bible-verse">
        we love because He first loved us
        <span id="bible-verse-ref">1 john 4:19</span>
      </p>
    </div>
  </body>
</html>
