<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../partials/head.ejs %> <% include ../partials/favicon.ejs %>
    <title>Zane & Sophie | RSVP</title>
  </head>
  <body>
    <div class="rsvp-page">
      <div class="rsvp-form-container">
        <form
          class="rsvp-form"
          action="/wedding/attendees/rsvp/new"
          method="POST"
        >
          <div class="divider"></div>
          <div class="rsvp-header">
            <h1>zane & sophie</h1>
          </div>
          <div>
            <label for="firstName" class="login-labels">First Name</label>
            <input
              placeholder="first name"
              type="text"
              name="firstName"
              class="firstName"
              required
            />
          </div>
          <div>
            <label for="lastName" class="login-labels">Last Name</label>
            <input
              placeholder="last name"
              type="text"
              name="lastName"
              class="lastName"
              required
            />
          </div>
          <div>
            <label for="email" class="login-labels">Email</label>
            <input
              placeholder="e.g. johnsmith@email.com"
              type="email"
              name="email"
              class="email"
              required
            />
          </div>
          <div>
            <label for="mobile" class="login-labels">Mobile</label>
            <input
              placeholder="e.g. 98765432"
              type="number"
              name="mobile"
              class="mobile"
              required
            />
          </div>
          <div class="card">
            <div class="checkbox-container">
              <label class="checkbox-label" for="attendance">
                <input type="checkbox" id="attendance" name="attendance" />
                <span class="checkbox-custom"></span>
                <div class="input-title">attending?</div>
              </label>
            </div>
          </div>
          <button type="submit" name="submit" class="rsvp-button">
            confirm
          </button>
        </form>
      </div>
      <div class="back">
        <a class="back-link" href="/">Back</a>
      </div>
    </div>
  </body>
</html>
