<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ../partials/head.ejs %> <% include ../partials/favicon.ejs %>
    <title>Zane & Sophie | Thank You</title>
  </head>
  <body>
    <div class="thank-you-page">
      <div class="thank-you-container">
        <div class="divider"></div>
        <div class="thank-you-header">
          <h1>thank you</h1>
        </div>
        <a href="/wedding/attendees/rsvp/"
          ><button class="thank-you-button">add another attendee</button></a
        >
        <div class="back">
          <a class="back-link" href="/">Back</a>
        </div>
      </div>
    </div>
  </body>
</html>
